html,
body {
    margin: 0;
}

canvas {
    display: block;
}

.button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 100;
    display: inline-block;
}

.sliders {
    position: fixed;
    top: 30px;
    left: 30px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4.8px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(13, 13, 13, 0.1);
    background: rgba(255, 255, 255, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0.12);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.32), 0 0 0.9px rgba(0, 0, 75, 0.32);
    border: 1.8px solid rgba(0, 0, 0, 0);
    height: 21px;
    width: 12px;
    border-radius: 6px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.78);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(13, 13, 13, 0.1);
    background: rgba(255, 255, 255, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0.12);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.32), 0 0 0.9px rgba(0, 0, 75, 0.32);
    border: 1.8px solid rgba(0, 0, 0, 0);
    height: 21px;
    width: 12px;
    border-radius: 6px;
    background: #000000;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgba(242, 242, 242, 0.78);
    border: 0.2px solid rgba(1, 1, 1, 0.12);
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(13, 13, 13, 0.1);
}

input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
    border: 0.2px solid rgba(1, 1, 1, 0.12);
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px rgba(13, 13, 13, 0.1);
}

input[type=range]::-ms-thumb {
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.32), 0 0 0.9px rgba(0, 0, 75, 0.32);
    border: 1.8px solid rgba(0, 0, 0, 0);
    width: 12px;
    border-radius: 6px;
    background: #000000;
    cursor: pointer;
    height: 11.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.78);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
}
